.card{
    background-color: transparent !important;   
    border: none;
}

.group-details {
    background-color: transparent;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
}

.link {
    color: #0275d8;
}

.link:hover {
    color: #014c8c;
}

.link:focus,
.link:active {
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    color: #55595c;
}

.all-link {
    justify-content: space-between;
    display: flex;
}

.right {
    padding-bottom: 5px;
}
.right button{
    border-radius: 5px;
    margin-left: 31vw;
}
@media only screen and (max-width: 768px) { 
    .right button{
         margin-left: 0px !important;
    }
 }
