body {
	background: #23242a;
	min-height: 100vh;
	
}

.box {
	position: relative;
	width: 485px;
/* height: max-content; */
	height: 690px;	
	background: #1c1c1c;
	border-radius: 50px 5px;
	overflow: hidden;
    top: 85px;
}

.box::before {
	content: '';
	position: absolute;
	top: -50px;
	left: -50px;
	width: 370px;
	height: 450px;
	background: linear-gradient(60deg, transparent, #45f3ff, #45f3ff);
	transform-origin: bottom right;
	animation: animate 6s linear infinite;

}

.box::after {
	content: '';
	position: absolute;
	top: -50px;
	left: -50px;
	width: 370px;
	height: 450px;
	background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

form {
	position: absolute;
	inset: 2px;
	z-index: 10;
	display: flex;
	padding: 30px 30px;
	border-radius: 50px 5px;
	background: #28292d;
	flex-direction: column;
}

.name {
	display: flex;
	justify-content: space-around;
}

h2 {
	color: #45f3ff;
	font-size: 35px;
	font-weight: 500;
	text-align: center;
}

button[type="submit"] {
	font-size: 20px;
	border: none;
	outline: none;
	background: #45f3ff;
	padding: 5px;
	margin-top: 73px;
	border-radius: 90px;
	font-weight: 900;
	cursor: pointer;
	width: 100%;
}

button[type="submit"]:active {
	background: linear-gradient(90deg, #45f3ff, #d9138a);
	opacity: 0.8;

}
