<nav class="navbar navbar-expand-lg nav">
      <div class="logo">
        <img src="/assets/images/logo1-preview.jpg" alt="">
      </div>
      <button style="border:none; background-color: #fff; margin-top: 4px; margin-right: 15px; " class="navbar-toggler border-none shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li *ngIf="isLogin" class="nav_menu nav-item active ">
                <a class="nav-link p-2 p-lg-3" routerLinkActive="bg-dark text-white" href="home">Home </a>
            </li>
            <li *ngIf="isLogin" class="nav_menu nav-item">
                <a class="nav-link p-2 p-lg-3" routerLinkActive="bg-dark text-white" href="problem">Problem</a>
            </li>
            <li *ngIf="isLogin" class="nav_menu nav-item">
                <a class="nav-link p-2 p-lg-3" routerLinkActive="bg-dark text-white" href="group">Group</a>
            </li>
            <li *ngIf="isLogin" class="nav_menu nav-item">
                <a class="nav-link p-2 p-lg-3" routerLinkActive="bg-dark text-white" href="contest">Contest</a>
            </li>

            <li *ngIf="!isLogin" class="nav_menu nav-item">
                <a class="nav-link p-2 p-lg-3" routerLinkActive="bg-dark text-white" href="login">Login</a>
            </li>
            <li *ngIf="!isLogin" class="nav_menu nav-item">
                <a class="nav-link p-2 p-lg-3" routerLinkActive="bg-dark text-white" href="register">register</a>
            </li>
            <li *ngIf="isLogin" class="nav_menu nav-item">
                <a (click)="logOut()" class="nav-link p-2 p-lg-3" routerLinkActive="bg-dark text-white" href="logout">Logout</a>
            </li>
        </ul>
      </div>
  
    </nav>