<mat-dialog-content class="dialog-content">
  <h2 class="dialog-title">Submit</h2>
  <form [formGroup]="submitProblemForm" class="dialog-form">
    <div class="form-group">
      <label for="submit-open" class="form-label">Open:</label>
      <div class="btn-group" role="group">
        <input type="hidden" formControlName="isOpen">
        <button type="radio" class="btn btn-outline-success" [class.active]="submitProblemForm.value.isOpen === true" (click)="submitProblemForm.controls['isOpen'].setValue(true)">Yes</button>
        <button type="radio" class="btn btn-outline-danger" [class.active]="submitProblemForm.value.isOpen === false" (click)="submitProblemForm.controls['isOpen'].setValue(false)">No</button>
      </div>
    </div>
    <div class="form-group">
      <label for="language" class="form-label">Language:</label>
      <select id="form3" class="form-control" formControlName="idValue">
        <option value="" selected>Select Language</option>
        <option *ngFor="let language of languages" value="{{language.idValue}}">{{language.name}}</option>
      </select>
      <div *ngIf="submitProblemForm.get('language')?.errors && submitProblemForm.get('language')?.touched" class="error-message">
        <span *ngIf="submitProblemForm.get('language')?.getError('required')">Language is mandatory</span>
      </div>
    </div>
    <div class="form-group">
      <label for="solution" class="form-label">Solution:</label>
      <textarea id="solution" class="form-control" formControlName="solutionCode" placeholder="Solution goes here" rows="8"></textarea>
      <div *ngIf="submitProblemForm.get('solution')?.errors && submitProblemForm.get('solution')?.touched" class="error-message">
        <span *ngIf="submitProblemForm.get('solution')?.getError('required')">Solution is mandatory</span>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button type="button" class="btn btn-outline-danger" mat-button mat-dialog-close>Close</button>
  <button type="submit" class="btn btn-success" mat-button [disabled]="submitProblemForm.invalid" (click)="handleSubmitProblem()">
    <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
    <span *ngIf="!isLoading"><i class="fa fa-check"></i> Submit</span>
  </button>
</mat-dialog-actions>