<div class="container-fluid text-center  " style="background-color:#ebebeb">
    <div class="row ms-5 justify-content-around">
        <div class="col-xl-3 col-lg-4 mt-3 justify-content-around text-center pe-5">

            <div id="prob-operation" class="row ">
                <div class=" mt-5 w-100">
                    <div class="col-xs-8">
                        <button (click)="openModal()" type="button" class="btn btn-success" >
                            <i class="fa fa-check"></i> Submit </button>
                       <!-- <app-submit-problem [onlineJudge]="problemInfo.source" [problemCode]="problemInfo.problemCode"></app-submit-problem> -->
                    </div>
                </div>

                <!-- <div class="row ">
                    <div class=" col-xs-6 col-sm-12">
                        <a routerLink="/submissions" class="btn btn-secondary"> <i
                                class="fa fa-list-ul "></i>Submissions </a>
                    </div>
                    <div class="col-xs-6 col-sm-12">
                        <button routerLink="/leaderboard" type="button" class="btn btn-secondary"> <i
                                class="fa fa-list-ol "></i>Leaderboard </button>
                    </div>
                </div> -->

                <div class=" text-center ">
                    <div class="w-100">
                    <div class="col-xs-8">
                        <a href="" class="recrawl btn btn-secondary "> 
                            <i class="fa fa-refresh me-1"></i>Recrawl</a>
                    </div>
                    </div>
                </div>
            </div>

            <div id="prob-properties" class=" ms-0 w-100">
                <div class="card w-100">
                    <div class="d-flex ">
                        <dt class="col-sm-4">Time limit</dt>
                        <dd class="col-sm-6 ms-5">{{problemInfo.timeLimit}}</dd>
                    </div>
                    <div class="d-flex  w-100">
                        <dt class="col-sm-4">Mem limit</dt>
                        <dd class="col-sm-6 ms-5">{{problemInfo.memoryLimit}}</dd>
                    </div>
                </div>
            </div>

            <div id="prob-statistics" class="text-center mt-3 ms-0 w-100">
                <dl class="card">
                    <div class="d-flex">
                        <dt class="col-sm-4">Submissions</dt>
                        <dd class="col-sm-8"><span title="Remote">{{problemInfo.submissions}}</span></dd>

                    </div>
                </dl>
            </div>

            <div *ngIf="problemSumbissions.length > 0" id="prob-my-sols" class=" text-center w-100">
                <table class="table">
                    <thead class="table-light">
                        <tr style="background-color:#ebebeb">
                            <th class="result">Result</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let submission of problemSumbissions" class="my-sol">
                            <td [style.color]="submission.verdict === 'Accepted' ? 'darkgreen' : 'red'"
                                [style.font-weight]="submission.verdict === 'Accepted' ? 'bold' : ''">
                                <a>{{submission.verdict}}</a>
                            </td> <!-- TODO: Implement link to open submission details if the user is already logged in -->
                            <td class="my-sol-time">{{submission.submitTime * 1000 | timeAgo }}</td>
                        </tr>
                        <tr *ngIf="totalSubmissions > 2">
                            <td colspan="2">
                                <a routerLink="">More...</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-lg-8 text-start mb-5" style="background-color:#ebebeb">
            <div class="d-flex mt-5 ">
                <h2 class="text-bold" style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; line-height: 1.5; color: #333;"><i class="fas fa-star"></i>{{problemInfo.title}}</h2>
                <p class="mt-2 ms-2" style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; color: #666;">
                  <a [href]="problemInfo.problemLink"
                     target="_blank" style="color: #007bff;">{{problemInfo.source}}-{{problemInfo.problemCode}}
                     <i class="fa fa-external-link"></i>
                  </a>
                </p>
            </div>
            <div class="description me-5 pb-5">
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo.extraInfo?.['story']" class="story">
                    <h4 class="fw-bolder">Story</h4>
                    <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;" [innerHtml]="problemInfo.extraInfo['story']"></p>
                </div>
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo.statement" class="statement">
                    <h4 class="fw-bolder">Problem Statement</h4>
                    <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;" [innerHtml]="problemInfo.statement"></p>
                </div>
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo.extraInfo?.['scoring']" class="scoring">
                    <h4 class="fw-bolder">Scoring</h4>
                    <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;" [innerHtml]="problemInfo.extraInfo['scoring']"></p>
                </div>
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo.extraInfo?.['inputAndOutput']" class="scoring">
                    <h4 class="fw-bolder">Input and Output</h4>
                    <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;" [innerHtml]="problemInfo.extraInfo['inputAndOutput']"></p>
                </div>
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo.extraInfo?.['inputGeneration']" class="scoring">
                    <h4 class="fw-bolder">Input Generation</h4>
                    <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;" [innerHtml]="problemInfo.extraInfo['inputGeneration']"></p>
                </div>
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo.extraInfo?.['tools']" class="scoring">
                    <h4 class="fw-bolder">Tools (Input generator, local tester and visualizer)</h4>
                    <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;" [innerHtml]="problemInfo.extraInfo['tools']"></p>
                </div>
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo.extraInfo?.['constrains']">
                    <h4 class="fw-bolder">Constrains</h4>
                    <section [innerHtml]="problemInfo.extraInfo['constrains']">
                    </section>
                </div>
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo?.['input']" class="input">
                    <h4 class="fw-bolder">Input</h4>
                    <p [innerHtml]="problemInfo.input"></p>
                </div>
                <div ngClass="ms-5 me-5 pt-5" *ngIf="problemInfo?.['output']" class="output">
                    <h4 class="fw-bolder">Output</h4>
                    <p [innerHtml]="problemInfo.output"></p>
                </div>
                <div class="sampleTests ps-5 pe-5 pb-2 pt-5" *ngFor="let sample of samples; let i = index;">
                    <h4 class="fw-bolder">Sample {{ i + 1 }}</h4>
                    <table class="table table-bordered sample">
                        <thead>
                            <tr style="background-color:#ebebeb">
                                <th class="w-50">Input</th>
                                <th class="w-50">Output</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td [innerHtml]="sample.input" class="text-start"></td>
                                <td [innerHtml]="sample.output" class="text-start"></td>
                            </tr>
                        </tbody>
                    </table>
                    <section [innerHTML]="sample.note"></section> <!-- For AtCoder -->
                </div>
                <div class="ms-5" *ngIf="problemInfo.extraInfo?.['noteSection']"> <!-- For Codeforces -->
                    <section [innerHTML]="problemInfo.extraInfo.noteSection"></section>
                </div>
            </div>
        </div>
    </div>
</div>