<div class="container-fluid">
  <div class="row">
    <div class="all_page " style="   background-color: #373737 ; ">
      <!-- Section 1 -->
      <section class="sec1">
        <div class=" text-center hero container-fluid center ">
          <div class="row justify-content-between " style="width: max-content;">
            <div class="col-lg-5  d-none d-lg-block image  ">
              <img class="h-100 w-100" src="/assets/images/home1.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 text  ">
              <h1 class="text-white mt-4">A New Way to Learn</h1>
              <p class="text-white">X-Judge is the best platform to help you enhance your skills, expand<br>
                <span style="padding-left: 5px;"> knowledge and prepare for technical interviews.</span>
              </p>
              <button *ngIf="!isLogin" class="register btn " routerLink="/register">Create Account <i
                  class="fa fa-angle-right" aria-hidden="true"></i></button>
              <button *ngIf="isLogin" class="register btn" routerLink="/problem">All Problems <i
                  class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </section>

      <div class=" container-fluid separator mt-md-27"></div>

      <!-- Section 2 -->
      <section class="container-fluid  sec2 d-flex">
        <div class="row justify-content-between text-center ">
          <div class="column img col-md-4 col-sm-6 order-md-2 col-sm-push-6 ms-5">
            <div class="explore-card-base">
              <div class="explore-card">
                <div class="card slowfloat2s">
                  <div class="inner"
                    style="opacity: 0.2; background: linear-gradient(#ffd57f, #ffb601);     width: 80%; height: 59%; margin-top: 3px;">
                    <div class="top ">
                      <div class="sub-title">
                        <p class="left"></p>
                        <p></p>
                      </div>
                      <div class="title">
                        <p class="left"></p>
                        <p class="right"></p>
                      </div>
                    </div>
                    <div class="play">
                      <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                    <div class="end" style="    height: 70px;     margin-top: 18px; ">
                      <p style="margin-top: 21px; height:9px"></p>
                    </div>


                  </div>
                </div>
              </div>
              <div class="explore-card">
                <div class="card slowfloat2s">
                  <div class="inner"
                    style="opacity: 0.6;  background: linear-gradient(#b9f4bc, #8dc63f); width: 80%;height: 88%;  margin-top: -49px;  padding-top: 18px;">
                    <div class="top">
                      <div class="sub-title">
                        <p class="left"></p>
                        <p></p>
                      </div>
                      <div class="title">
                        <p class="left"></p>
                        <p class="right"></p>
                      </div>
                    </div>
                    <div class="play">
                      <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                    <div class="end" style="margin-top: 52px;">
                      <p></p>
                    </div>


                  </div>
                </div>
              </div>
              <div class="explore-card">
                <div class="card slowfloat2s">
                  <div class="inner" style="width: 80%;
                height: 234px;">
                    <div class="top">
                      <div class="sub-title">
                        <p class="left"></p>
                        <p></p>
                      </div>
                      <div class="title">
                        <p class="left"></p>
                        <p class="right"></p>
                      </div>
                    </div>
                    <div class="play">
                      <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                    <div class="end">
                      <p></p>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column col-md-4 order-md-1 col-sm-push-6 intro-title text ">
            <div class="d-flex Explor ms-md-5 " style="text-align: right; margin-left:20vw !important">
              <h2 class="pe-2">Start Exploring</h2>
              <i class=" fa fa-graduation-cap " style="font-size: 2em;" aria-hidden="true"></i>
            </div>
            <p class="Explore-text " style=" color: black !important; justify-content: center; text-align:right">
              Explore is a well-organized tool that helps you get the most out of<br>
              X-Judge by providing structure to guide your progress towards the next<br>
              step in your programming career
            </p>
            <div style="   text-align: right;   margin-left: 12px;  margin-top: 16px;">
              <a class="get_Started  " routerLink="problem">Get Started <i class="fa fa-angle-right"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>


      </section>


      <!-- <section class="sec3">
        <div class="feature-icon-base" style="transform: scale(0.7);">
          <div class="icon red love-icon">
            <div class="circle">
              <div class="custom-icon"><img src="/static/images/landing_page/sf.png" alt="San Francisco" width="52"
                  style="margin-top: -13px;"></div>
            </div>
          </div>
        </div>
        <div>

        </div>
      </section>
    </div> -->
  </div>
</div>