/*  section 1 */
.sec1{
  display: flex;
  margin-top: 0;
  padding-top: 10vh;
  background-color: #373737 ; 
  position: absolute;
  left: 20vw;
  right: 0;
}

.image{
  z-index:1;
}

.text h1 {
  font-weight: 500;
  font-size: 40px;
  color: white;
  line-height: 1.1;

}

.text p {
  opacity: 0.5;
  margin-top: 40px;
  color: white;
  margin: auto;
  max-width: 600px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.9em;
  letter-spacing: 0.03em;
}

.text button {
  border-radius: 18px;
  margin-top: 30px;
  background: #1da09c;
  color: white;
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 15px;
}

/* ................................ */
.separator {
  position: relative;
 z-index: 0;
  height: 0;
  border-right: 100vw solid transparent;
  border-bottom: 14.9vw solid #fff;
  margin-top: 15vw;
  right:4vw ;

}
.mt-md-27{
  margin-top :27vw;
  right: 6vw;
}

.sec2 {
  background-color: #fff;
  padding: 0;
  /* height: 370px; */
  justify-content: space-around;
  left: 0px;
  width: 100%;
  padding-bottom: 10vh;
  height: max-content;
  position: absolute;
}
.intro-title{
  width: max-content;
}
/* .sec2 .row {
  display: flex;
  margin-top: 30px;
}

.sec2 .column {
  flex: 1;
} */

.Explor h2 {
  line-height: 1.2em;
  color: #1da09c;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0;
  text-align: right;
}

.text p{
  width: max-content;
   opacity: 0.5 !important;
  color: #fff !important;
  margin: auto;
  font-size: 15px;
  line-height: 1.9em;
  margin-top: 20px;
  letter-spacing: 0.03em;

}


.feature-icon-base .icon .circle {
  width: 53px;
  height: 53px;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  color: #34a297;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.feature-icon-base .icon {
  width: 56px;
  height: 87px;
  border-radius: 10px;
  transform: scale(0.7);
  color: #34a297;

}

.text a.get_Started {
  color: #0088cc;
  background-color: transparent !important;
  margin-top: 15px;
  text-decoration: none;
  /* opacity: 1 !important; */
  cursor: pointer;
  font-weight: 400;
}
.text a.get_Started:hover {
  color: #3fbbff;
}
/* cards */
.explore-card-base {
  margin-right: 0;
  margin-left: 126px;
  position: relative;
  height: 300px;
  width: 260px;
  perspective: 600px;
}

.explore-card-base .explore-card {
  position: absolute;

  perspective: 1000px;
  height: 100%;
  width: 100%;
  transform-origin: 0 50%;
}

.explore-card-base .explore-card .card {
  transform-origin: 50% 50%;
  height: 300px;
  width: 224px;
  border-radius: 20px;

}

.explore-card-base .explore-card:nth-child(1) .card {
  left: -42px;
  transform: scale(0.6);
  transform: translateX(-40px) translateY(-40px);
  /* Adjust position */
  z-index: 1;
}

.explore-card-base .explore-card:nth-child(2) {
  transform: scale(0.8);
}

.explore-card-base .explore-card:nth-child(2) .card {
  animation-delay: 800ms;
  left: -5px;
  transform: translateX(-20px) translateY(-20px);
  /* Adjust position */
  z-index: 2;
}

.explore-card-base .explore-card:nth-child(3) .card {
  animation-delay: 1600ms;
  z-index: 3;
  margin-left: 45px;
}

.card {
  /* transform: rotate(12deg);
  transform-origin:  146% 38%;; */
  /* display: inline-flex;
  transform: skewY(13deg);*/
  width: 60%;
  border: none;
  background-color: transparent;
  transition: transform 0.3s;
  position: absolute;

}

.inner {
  transform: skewY(10deg);
  background: linear-gradient(#96d1f9, #00cded);
  /* transform: rotate(12deg);  */
  height: 234px;
  border-radius: 10px;
  /* transform-origin: 20% 40%; */
}

.top p {
  opacity: 0.5;
  background: #fff;
  display: inline-block;
  border-radius: 5px;
  height: 15px;
  width: 50px;
  margin-right: 10px;
}

.sub-title {
  padding-left: 20px;
  padding-top: 20px;
}

.top .sub-title p.left {
  width: 85px !important;
}

.title .left {
  width: 30px !important;
  height: 40px;
}

.title .right {
  width: 100px;
  height: 40px;
}

.play {
  position: absolute;
  right: 11px;
  /* bottom: 38.5px; */
  height: 62px;
  /* top: 109px; */
  width: 59px;
  background: white;
  border-radius: 1017px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  font-size: 22.5px;
  padding-top: 17.25px;
  padding-left: 5px;
  color: #e6eaef;
  text-align: center;
}

.end {
  /* border-bottom-left-radius: 20px; */
  border-bottom-right-radius: 10px;
  height: 75px;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.5);
}

.end p {
  border-radius: 10px;
  display: inline-block;
  height: 15px;
  width: 70px;
  background: #f5f6f8;
  margin: 20px;
  margin-top: 36px;
  margin-right: 114px;
}
@media (max-width: 768px) {
  .sec1{
  left: 10vw
  
  }

}


.feature-icon-base{
  transform: scale(0.7);
}
.feature-icon-base .icon.red {
background: -webkit-gradient(linear, left top, right bottom, from(#f4511e), to(#b71c1c));
}
.feature-icon-base .icon::before, .feature-icon-base .icon::after {
position: absolute;
width: inherit;
height: inherit;
border-radius: inherit;
background: inherit;
content: '';
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
.feature-icon-base .icon::before {
-webkit-transform: rotate(60deg);
transform: rotate(60deg);
}
.feature-icon-base .icon::after {
-webkit-transform: rotate(-60deg);
transform: rotate(-60deg);
}
.feature-icon-base .icon .circle {
width: 53px;
height: 53px;
position: absolute;
background: #fff;
z-index: 10;
border-radius: 50%;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
text-align: center;
}
.feature-icon-base .icon .circle .custom-icon {
font-size: 20px;
margin-top: 12px;
}









/* @media (max-width: 600px) {
  .sec1{
  left: 10vw
  
  }

} */

/*@media (max-width: 1512px) {
  .all_page{
    margin-top: -120px;
  }
  .sec1 .row{
    margin-top: 90px;
  }
  .row{
    flex-wrap: nowrap;
   
  }
  .intro-title {
  text-align: center;
    justify-content: center;
}
.intro-title p br{
display: none;
}
}

 @media (max-width: 992px) {
  .col-md-6.intro-title.text {
   width: 100%;
  }

  .explore-card-base {
    margin-left: 115px ;
  }
  .intro-title .Explor h2{
    margin-left: 146px;
  }
} 



@media (max-width: 600px) {
  .sec1 .row {
    flex-direction: column;
    margin-top: 90px;
  }

  .Explor h2 {
    margin-left: 85px;
  }

  .col-md-6.intro-title.text {
    margin-left: 0;
  
  }
.sec1 .intro-title{
  margin-top: 50px
}
  .explore-card-base {
    margin-left: 90px;
    margin-top: 100px;
  }

  .intro-title .Explor h2 {
    padding-bottom: 17px;
  }

  p.Explore-text {
    color: black !important;
    text-align: center !important;
   margin-left: 15px !important;
    
  }

  br {
    display: none;
  }

  .sec2 {
    height: 250vh;
  }

  .intro-title a {
    margin-left: 20px;

  }
  .row{
      flex-wrap: wrap;
  }
}
*/

@keyframes SlowFloat {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.slowfloat2s {
  -webkit-animation: SlowFloat 2s infinite alternate;
  animation: SlowFloat 2s infinite alternate;
}

.slowfloat3s {
  -webkit-animation: SlowFloat 3s infinite alternate;
  animation: SlowFloat 3s infinite alternate;
}