<div class="card container">
  <p-table
    [value]="contestData"
    [paginator]="true"
    [rows]="size"
    [first]="pageNo * size"
    [rowsPerPageOptions]="[1, 5, 10]"
    (onPage)="onPage($event)"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Contest Title</th>
        <th>Begin Time</th>
        <th>Length</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contest>
      <tr>
        <td><a [routerLink]="['/contest', contest.id]">{{ contest.title }}</a></td>
        <td>{{ contest.beginTime * 1000 | date : "medium" }}</td>
        <td>{{ contest.duration / 60 / 60 | hoursMinutes }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
