<div class="container">
	<div class="row justify-content-center">
		<div class="box col-md-6 col-lg-4">
			<form (ngSubmit)="handleChangePassword(changePasswordForm)" [formGroup]="changePasswordForm" >
				<h2>Change Password</h2>
				<span *ngIf="apiError" style="color:red">{{apiError}}</span>
				<div class="inputBox form-group">
					<span for="password">Old Password</span>
					<input id="oldPassword" formControlName="oldPassword" type="password" required />
					<div *ngIf="changePasswordForm.get('oldPassword')?.errors && changePasswordForm.get('oldPassword')?.touched &&  changePasswordForm.get('oldPassword')?.invalid">
						<span *ngIf="changePasswordForm.get('oldPassword')?.getError('required')" class="m-0" style="color:red">User password is mandatory</span>
						<span *ngIf="changePasswordForm.get('oldPassword')?.getError('invalid')" class="m-0" style="color:red">User password is invalid</span>
					</div>
					<span *ngIf="validationErrors['oldPassword']"  style="color:red; margin-top:80px;">{{validationErrors.oldPassword}}</span>
					<i></i>
				</div>
                <div class="inputBox form-group">
					<span for="password">New Password</span>
					<input id="password" formControlName="password" type="password" required />
					<div *ngIf="changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched &&  changePasswordForm.get('password')?.invalid">
						<span *ngIf="changePasswordForm.get('password')?.getError('required')" class="m-0" style="color:red">User password is mandatory</span>
						<span *ngIf="changePasswordForm.get('password')?.getError('invalid')" class="m-0" style="color:red">User password is invalid</span>
					</div>
					<span *ngIf="validationErrors['password']"  style="color:red; margin-top:80px;">{{validationErrors.password}}</span>
					<i></i>
				</div>
        <div class="inputBox form-group">
					<span for="confirmPassword">Confirm Password</span>
					<input id="confirmPassword" formControlName="userRePassword" type="password" required />
					<div *ngIf="changePasswordForm.get('confirmPassword')?.errors && changePasswordForm.get('confirmPassword')?.touched &&  changePasswordForm.get('confirmPassword')?.invalid">
						<span *ngIf="changePasswordForm.get('confirmPassword')?.getError('required')" class="m-0" style="color:red">User password is mandatory</span>
						<span *ngIf="changePasswordForm.get('confirmPassword')?.getError('Match')" class="m-0" style="color:red">Confirm password doesn't match </span>
						<span *ngIf="changePasswordForm.get('confirmPassword')?.getError('invalid')" class="m-0" style="color:red">User password is invalid</span>
					</div>
					<span *ngIf="validationErrors['confirmPassword']"  style="color:red; margin-top:80px;">{{validationErrors.confirmPassword}}</span>
					<i></i>
				</div>
				<div class="form-group">
					<button  [disabled]="changePasswordForm.invalid" type="submit" >
						<i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
						<span *ngIf="!isLoading">Save</span>
				    </button>
				</div>
			</form>
		</div>
	</div>
</div>