
<div class="container backgroundAuth">
	<div class="row justify-content-center">
		<div class="box col-md-6 col-lg-4">
			<form (ngSubmit)="handleChangePassword()"[formGroup]="changePasswordForm" class="form">
				<h2>Change password</h2>
				<app-form-input [controller]="changePasswordForm.controls.oldPassword" [span]="'Old Password'" [inputType]="'password'" ></app-form-input>
				<app-form-input [controller]="changePasswordForm.controls.password" [span]="'New Password'" [inputType]="'password'"></app-form-input>   
				<app-form-input [controller]="changePasswordForm.controls.confirmPassword" [span]="'Confirm Password'" [inputType]="'password'"></app-form-input>
				<button type="submit" [disabled]="changePasswordForm.invalid" ><i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
					<span *ngIf="!isLoading">Save</span>
				</button>
			</form>
		</div>
	</div>
</div>

