<div class="container">
	<div class="row justify-content-center">
		<div class="box col-md-6 col-lg-4">
			<form (ngSubmit)="handleLogin(loginForm)"[formGroup]="loginForm" >
				<h2>Sign In</h2>
				<!-- <span *ngIf="apiError" style="color:red">{{apiError}}</span> -->
				<div class="inputBox form-group">
					<span for="userHandle">Handle</span>
					<input id="userHandle" formControlName="userHandle" type="text" required/>
					<div *ngIf="loginForm.get('userHandle')?.errors && loginForm.get('userHandle')?.touched ">
						<span *ngIf="loginForm.get('userHandle')?.getError('required')" class="m-0"style="color:red">User handle is mandatory</span>
						<!-- <span *ngIf="loginForm.get('userHandle')?.invalid" class="m-0" style="color:red">Please enter a valid handle</span>					 -->
					</div>
					<span *ngIf="validationErrors['userHandle']"  style="color:red; margin-top:80px;">{{validationErrors.userHandle}}</span>
					<i></i>
				</div>
				<div class="inputBox form-group">
					<span for="userPassword">Password</span>
					<input id="userPassword" formControlName="userPassword" type="password" required />
					<div *ngIf="loginForm.get('userPassword')?.errors && loginForm.get('userPassword')?.touched ">
						<span *ngIf="loginForm.get('userPassword')?.getError('required')" class="m-0" style="color:red">User password is mandatory</span>
						<!-- <span *ngIf="loginForm.get('userPassword')?.invalid" class="m-0" style="color:red">Please enter a valid password</span> -->
					</div>
					<span *ngIf="validationErrors['userPassword']"  style="color:red; margin-top:80px;">{{validationErrors.userPassword}}</span>
					<i></i>
				</div>
				<div class="form-group">
					<button  [disabled]="loginForm.invalid" type="submit" >
						<i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
						<span *ngIf="!isLoading">Login</span>
				</button>
				<!-- <input type="submit" value="Login"> -->
				</div>
				<div class="links form-group">
					<div class="w-50 ">
						<a routerLink="/forgetPassword">Forget Password</a>
					</div>
					<div class="w-50 signup">
						<a  routerLink="/register">SignUp</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>