<div class="card container">
  <p-table
    [value]="members"
    [paginator]="true"
    [rows]="size"
    [first]="pageNo * size"
    [rowsPerPageOptions]="[1, 5, 10]"
    (onPage)="onPage($event)"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Role</th>
        <th>Name</th>
        <th>Handle</th>
        <th>Join Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
      <tr>
        <td>{{ member.role }}</td>
        <td>{{ member.name }}</td>
        <td><a [routerLink]="['/profile', member.handle]">{{ member.handle }}</a></td>
        <td>{{ member.joinDate | date: 'shortDate' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
