<div class="container-fluid" id="problem_list_container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-2 mt-5 pt-2" id="left-panel">
            <div class="list-group bg-dark" id="prob-category">
                <a href="javascript:void(0)" class="list-group-item" data-category="all">All</a>
                <a href="javascript:void(0)" class="list-group-item" data-category="solved">
                    Solved
                    <span class="tag tag-success tag-pill float-sm-right">30</span>
                </a>
                <a href="javascript:void(0)" class="list-group-item" data-category="attempted">
                    Attempted
                    <span class="tag tag-default tag-pill float-sm-right">31</span>
                </a>
                <a href="javascript:void(0)" class="list-group-item" data-category="favorites">
                    Favorites
                    <span class="tag tag-warning tag-pill float-sm-right">0</span>
                </a>
                <input type="hidden" name="category" value="" />
            </div>
        </div>
        <div class="col-md-10 text-center" id="right-panel">
            <app-pagination [totalPages]="totalPages" [pageSize]="pageSize" (pageChange)="onPageChange($event)"></app-pagination>
            <table id="listProblem" class="table table-striped table-responsive  table-borderless" cellspacing="0"
                width="100%">
                <thead>
                    <tr>
                    <th class="fav" data-toggle='tooltip' title="Sort by favorite time"></th>
                        <th class="oj">
                            OJ
                            <select id="OJId" name="OJId" class="search_text" style="width:100%">
                                <option value="CodeForces">CodeForces</option>
                                <option value="AtCoder">AtCoder</option>
                            </select>
                        </th>
                        <th class="prob_num">
                            Prob
                            <input #prob (input)="searchByCode(prob.value)" type="text" id="probNum" name="probNum" class="search_text" style="width:95%" />
                        </th>
                        <th class="title">
                            Title
                            <input #title (input)="searchByTitle(title.value)" type="text" id="title" name="title" class="search_text" style="width:95%" />
                        </th>
                        <th class="source hidden-md-down">
                            Source
                            <input type="text" id="source" name="source" class="search_text" style="width:95%" />
                        </th>
                        <th class="solved_users pb-4" data-toggle='tooltip' title="Sort by solved users">Solved</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let problem of Problems; let i = index">
                        <td><i class="fas fa-star"></i></td>
                        <td> {{ problem.oj }} </td>
                        <td><a [href]="problem.problemLink"
                                target="_blank">{{ problem.problemCode }}</a></td>
                        <td> <a routerLink="{{problem.oj}}/{{problem.problemCode}}">{{ problem.problemTitle }}</a> </td>
                        <td><a [href]="problem.contestLink" target="_blank">{{ problem.contestName }}</a></td>
                        <td>{{ problem.solvedCount }}</td>
                    </tr>
                </tbody>
            </table>
            <input type="button" class="btn btn-secondary btn-md" id="reset" value="Reset" style="display: none" />
            <input type="button" class="btn btn-secondary btn-md" id="filter" value="Filter" style="display: none" />
        </div>
    </div>
</div>