
<div class="container backgroundAuth">
	<div class="row justify-content-center">
		<div class="box col-md-6 col-lg-4">
			<form (ngSubmit)="handleResetPassword()"[formGroup]="resetPasswordForm" class="form">
				<h2>Reset Password</h2>
				<app-form-input [controller]="resetPasswordForm.controls.password" [span]="'New Password'" [inputType]="'password'"></app-form-input>
				<app-form-input [controller]="resetPasswordForm.controls.confirmPassword" [span]="'Confirm Password'" [inputType]="'password'"></app-form-input>   
				<button type="submit" [disabled]="resetPasswordForm.invalid" ><i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
					<span *ngIf="!isLoading">Reset Password </span>
				  </button>
			</form>
		</div>
	</div>
</div>